@page "/Account/Register"

<PageTitle>Registration unavailable</PageTitle>

<h1>Registration unavailable</h1>

<p>Self-service registration is disabled. Ask an administrator to create your employee account.</p>
<p>
    <a class="btn btn-primary" href="/Account/Login">Go to login</a>
</p>
